$sm: 425px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1320px;
$h4: 1.5em;
$p: 1rem;
$p-sm: 0.5em;
$btn-1:3rem;
$purple-primary: #7E6DE8;
$purple-secondary: #E2DDFF;
$clean-primary: #F6F6F6;
$clean-secondary: #FFFFFF;
$clean-deep: #8D8D8D;
$night-primary: #202020;
$night-secondary: #303030;
$green: #61A01F;

@keyframes active-nav{
    0%{
        width: 0;
    }
    100%{
        width: 15%;
    }
}

//mixins
@mixin page-layout{
    margin-bottom: 6rem;
        > div{
            width: min(100%,$sm);
        }
}

@mixin header-layout($color, $button-bg, $button-color){
    margin-top: 1.5rem;
    color: $color;
            .notification-button{ 
                background-color: $button-bg;  
                overflow: hidden;
                height: $btn-1;
                width: $btn-1;
                a{
                    text-decoration: none;
                    color: $button-color;

                    i{
                        transition: 0.3s;
                    }
                    &:active i{
                        rotate:10deg;
                        transition: 0.3s;
                    }
                }
            }
}

@mixin progress-bar($icon-color, $progress){
    .progress{
        height: 5px;
        background-color: $night-secondary;
        .progress-bar{
            background-color: $purple-primary;
            width: $progress;
        }
    }
    .position-absolute{
        margin-top: 2px;
        width: 1.8rem; 
        height: 1.8rem;
        background-color: $purple-primary;
        i{
            color: $icon-color;
        }
        .fa-shop, .fa-wallet, .fa-bag-shopping, .fa-fan, .fa-boxes-packing, .fa-circle-check{
            display: none;
        }
        &#state-1{
            left: 0;
        }
        &#state-2{
            left: 25%;
        }
        &#state-3{
            left: 50%;
        }
        &#state-4{
            left: 75%;
        }
        &#state-5{
            left: 100%;
        }
       &.active{
        width: 3.2rem;
        height: 3.2rem;
        .fa-shop, .fa-wallet, .fa-bag-shopping, .fa-fan, .fa-boxes-packing, .fa-circle-check{
            display: block;
        }
        .fa-check{
            display: none;
        }
        ~ .position-absolute{
            background-color: $night-secondary;
            .fa-check{
                display: none;
            }
        }
       }
    }
}

@mixin other-menu-header(){
    .head-container{
        h4{
            color: $night-primary;
        }
        a{
            i{
                transition: 0.3s;
            }
            
            &:active i{
                scale: 80%;
                transition: 0.3s;
            }
        }
    }
}


body{
    //utilities
    padding-left: 1rem;
    padding-right: 1rem;
    h4{
        font-size: $h4;
        margin-bottom: 0;
    }
    p{
        font-size: $p;
        margin-bottom: 0;
    }
    a{
        color: $night-primary;
        text-decoration: none;
    }
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: $clean-primary;

    //head bg
    .head-background{
        width: max($sm,100%);
        height: 8rem;
        position: absolute;
        top: -2rem;
        right: 0;
        border-radius: 0 0 3rem 3rem;
        background-color: $purple-primary;
        z-index:-1;
        &.buyer{
            height: 11rem !important;
        }
    }

    //home content
    .main-page{
        @include page-layout();
        margin-bottom: 12rem !important;
        .head-container{
            @include header-layout($clean-primary, rgba($clean-primary, 0.25), $clean-primary);
        }
        .balance-container{
            margin-top: 1.5rem;
            background-color: $night-secondary;
            .topup-btn-container{
                .notification-button{
                    background-color: $clean-secondary;
                    height: $btn-1;
                    width: $btn-1;
                    a{
                        i{
                            transition: 0.3s;
                        }
                        &:active i{
                            scale:80%;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
        .status-container{
            background-color: $clean-primary;
            @include progress-bar($clean-secondary, 25%);
            .status-info{
                color: $night-primary;
                a{
                    background-color: $night-primary;
                    color: $clean-secondary !important;
                    transition: 0.3s;
                    &:active{
                        scale: 95%;
                        transition: 0.3s;
                    }
                    
                }
            }
        }
        .type-container{
            button{
                transition: 0.3s;
                i{
                    transition: 0.3s;
                }
                &:active{
                    background-color: $night-primary;
                    color: $clean-secondary;
                    scale: 95%;
                    transition: 0.3s;
                    i{
                        transition: 0.3s;
                        color: $clean-secondary!important;
                    }
                }
            }
            .type-button{
                background-color: $clean-primary;
                transition: 0.3s;
                i{
                    transition: 0.3s;
                }
                &:active{
                    background-color: $night-primary;
                    color: $clean-secondary;
                    scale: 95%;
                    transition: 0.3s;
                    i{
                        transition: 0.3s;
                        color: $clean-secondary!important;
                    }
                }
                &.active{
                    background-color: $night-primary;
                    color: $clean-secondary;
                }
            }
        }
        .menu-container{
            .card-img{
                position: relative;
                i{
                    color: $night-secondary;
                    position: absolute;
                    z-index: 2;
                    top: 12%;
                    left: 82%
                }
            }
            .menu-info{
                color: $night-primary;
                .menu-btn{
                    background-color: $night-primary;
                    color: $clean-secondary;
                    transition: 0.3s;
                    &:active{
                        scale: 95%;
                        transition: 0.3s;
                    }
                }   
            }
            
        }

        //merchant order card
        .order-card{
            color: $night-primary;
            img{
                width: 1.5rem;
                height: 1.5rem;
            }
            a{
                color: $clean-deep !important;
                transition: 0.3s;
                &:active{
                    transition: 0.3s;
                    scale: 90%;
                }
            }
            .order-item{
                background-color: $clean-primary;
            }
            .btn{
                transition: 0.3s;
                &:active{
                    transition: 0.3s;
                    scale: 95%;
                }
                &.btn-accept{
                    color: $clean-secondary !important;
                    background-color: $purple-primary;
                }
            }
            &.past-order{
                height: 13rem;
                .order-img{
                    width: 3.2rem;
                    height: 3.2rem;
                    &#order-1{
                        left: 0;
                        z-index: 3;
                    }
                    &#order-2{
                        left: 1.6rem;
                        z-index: 2;
                    }
                    &#order-3{
                        background-color: $clean-primary;
                        left: 3.2rem;
                        z-index: 1;
                    }
                }
                .order-txt{
                    left: 0;
                    top: 3.8rem;
                }
                .rounded-pill{
                    color: $clean-secondary;
                    right: 0;
                    top: 3.7rem;
                }
            }
        }

        //admin request card
        .request-card{
            .card-header{
                color: $night-primary;
                img{
                    width: 1.5rem;
                    height: 1.5rem;
                }
                a{
                    color: $clean-deep !important;
                    transition: 0.3s;
                    &:active{
                        transition: 0.3s;
                        scale: 90%;
                    }
                }
            }
        }
    }

    //merchant menu content
    .menu-page{
        @include page-layout();
        .head-container{
            @include header-layout($clean-primary, rgba($clean-primary, 0.5), $clean-primary);
        }
        .type-container{
            .type-button{
                background-color: $clean-primary;
                transition: 0.3s;
                i{
                    transition: 0.3s;
                }
                &:active{
                    background-color: $night-primary;
                    color: $clean-secondary;
                    scale: 95%;
                    transition: 0.3s;
                    i{
                        transition: 0.3s;
                        color: $clean-secondary!important;
                    }
                }
                &.active{
                    background-color: $night-primary;
                    color: $clean-secondary;
                }
            }
        } 
        .menu-container{
            .card-img{
                position: relative;
                i{
                    color: $night-secondary;
                    position: absolute;
                    z-index: 2;
                    top: 12%;
                    left: 82%
                }
            }
            .menu-info{
                color: $night-primary;
                .form-check-input{
                    width: 55px;
                    height: 25px;
                    &:checked{
                    background-color: $green !important;
                    border: none;
                    }
                }
                .menu-btn{
                    background-color: $night-primary;
                    color: $clean-secondary;
                    transition: 0.3s;
                    &:active{
                        scale: 95%;
                        transition: 0.3s;
                    }
                }   
            }
            
        }
    }

    //search content
    .search-page{
        @include page-layout();
        .search-container{
            @include header-layout($night-secondary, none, $night-secondary);

            .search-bar{
                border-color: $night-primary!important;
                overflow: hidden;
                input:focus{
                    box-shadow:none;
                }
                .btn{
                    border: none;
                }
            }
        }
    }
    
    //history content
    .history-page{
        @include page-layout();
        .history-container{
            @include header-layout($night-secondary, none, $night-secondary);
            .history-card{
                height: 9.6rem;
                transition: 0.3s;
                .order-img{
                    width: 3.2rem;
                    height: 3.2rem;
                    top: 1.4rem;
                    &#order-1{
                        left: 1.6rem;
                        z-index: 3;
                    }
                    &#order-2{
                        left: 3.2rem;
                        z-index: 2;
                    }
                    &#order-3{
                        background-color: $clean-primary;
                        left: 4.8rem;
                        z-index: 1;
                    }
                }
                .order-txt{
                    left: 1.6rem;
                    top: 5.6rem;
                }
                .d-flex{
                    padding-right: 1.6rem;
                    padding-top: 1.4rem;
                    padding-bottom: 1.4rem;
                    .rounded-pill{
                        color: $clean-secondary;
                    }
                }
                &:active{
                    scale: 95%;
                    transition: 0.3s;
                }
            }
        }
    }

    //profile content
    .profile-page{
        @include page-layout();
        .profile-container{
            @include header-layout($night-secondary, none, $night-secondary);
            .profile-card{
                background-color: $clean-primary;
                margin-top: 4rem;
                img{
                    height: 8rem;
                    width: 8rem;
                    margin-top: -5rem;
                }
                .balance-container{
                    background-color: $purple-primary;
                    color: $clean-secondary;
                    .rounded-4{
                        background-color: $clean-secondary;
                        width: 3.2rem;
                        height: 3.2rem;
                        a{
                            color: $purple-primary !important;
                            i{
                                transition: 0.3s;
                            }
                            &:active i{
                                scale:80%;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
            .profile-option-item{
                border-color: $clean-primary!important;
                .icon-container{
                    background-color: $night-primary;
                    width: 1.6rem;
                    height: 1.6rem;
                    color: $clean-secondary;
                }
            }
        }
    }

    //add menu content
    .cart-page{
        @include other-menu-header();
        padding-bottom: 14rem;
        margin-bottom: -7rem!important;
        border-radius: 2rem 2rem 0 0;
        overflow: hidden;
        @include page-layout();
        .cart-container{
            background-color: $clean-secondary;
            color: $night-primary;
            .plus-minus{
                background-color: $clean-primary;
                .plus-minus-button{
                    background-color: $night-primary;
                    width: 3rem;
                    height: 3rem;
                    i{
                        color: $clean-secondary;
                    }
                }
            }
        }
    }

    //your order content
    .ongoing-page{
        @include page-layout();
        color: $night-primary;
        margin-top: 1.5rem;
        a{
            color: $night-primary
        }
        .ongoing-container{
            @include progress-bar($clean-secondary, 75%);
            .your-order{
                font-size: 0.8rem!important;
            }
            .status-text{
                font-size: 1.8rem;
                color: $purple-primary;
                font-weight: 800;
                
            }
            .order-list{
                img{
                    width: 6rem;
                    height: 6rem;
                }
                .plus-minus{
                    background-color: $clean-primary;
                    .plus-minus-button{
                        background-color: $night-primary;
                        width: 1.5rem;
                        height: 1.5rem;
                        i{
                            color: $clean-secondary;
                        }
                    }
                }
            }
            .promo-code{
                background-color: $purple-secondary;
            }
            .price-card{
                background-color: $purple-primary;
                color: $clean-secondary;
            }
            .pick-btn{
                width: 12rem;
                background-color: $night-primary;
                color: $clean-secondary;
                transition: 0.3s;
                font-size: 1.5rem;
                &:active{
                    scale: 80%!important;
                    transition: 0.3s;
                }
            }
        }
    }

    //edit profile content and merchant edit menu
    .edit-profile-container, .edit-menu-container{
        @include page-layout();
        @include other-menu-header();
        form{
            width: min(100%,$sm);
            .profile-card{
                background-color: $clean-primary;
                color: $night-primary;
                margin-top: 4rem;
                img{
                    height: 8rem;
                    width: 8rem;
                    margin-top: -5rem;
                }
                
            }
            button{
                background-color: $purple-primary;
                color: $clean-secondary;
                &:hover{
                    background-color: #584ca2;
                }
            }
        }
    }

    //topup page content
    .topup-page{
        @include page-layout();
        @include other-menu-header();
        .info-container{
            background-color: $purple-primary;
            color: $clean-secondary;
        }
        form{
            width: min(100%,$sm);
            .topup-card{
                background-color: $clean-primary;
                color: $night-primary;
                img{
                    height: 8rem;
                    width: 8rem;
                    margin-top: -5rem;
                }
                
            }
            .fees-card{
                background-color: $night-primary;
                color: $clean-secondary;
            }
            button{
                background-color: $purple-primary;
                color: $clean-secondary;
                &:hover{
                    background-color: #584ca2;
                }
            }
        }
    }

    //transaction history
    .transactions-page{
        @include page-layout();
        @include other-menu-header();
        color: $night-primary;
        .transaction-item{
            border-color: $night-primary;
            
            .icon-container{
                background-color: $purple-secondary;
                .container-layer{
                    background-color: $purple-primary;
                    color: $clean-secondary;
                }
            }
            .icon-container-green{
                background-color: rgba(97, 160, 31, 0.25);
                .container-layer-green{
                    background-color: $green;
                    color: $clean-secondary;
                }
            }
            .item-info{
                .items-list{
                    font-size: 0.8rem;
                }
            }
        }
    }

    //succes page content
    .success-page{
        background-color: $purple-primary;
        margin-left: -1rem;
        min-height: 100vh;
        min-width: 100vw;
        .icon-container{
            i{
                color: $purple-primary;
                font-size: 5rem;
                animation: scale 0.3s ease-in-out;
            }
        }
    }

    //admin setting page
    .setting-page{
        @include page-layout();
        .head-container{
            @include header-layout($clean-primary, rgba($clean-primary, 0.5), $clean-primary);
        }
        .icon-container{
            color: $clean-secondary;
            background-color: $night-primary;
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    //admin request pages
    .request-page{
        background-color: $purple-primary;
        margin-left: -1rem;
        width: 100vw;
        min-height: 100vh;
        > div{
            width: min(100%,$sm);
        }
        .head-container{
            color: $clean-secondary;
            a{
                color: $clean-secondary !important;
                i{
                    transition: 0.3s;
                }
                
                &:active i{
                    scale: 80%;
                    transition: 0.3s;
                }
            }
        }
        .request-card{
            background-color: $clean-secondary;
            color: $night-primary;
            margin-top: 4rem;
                img{
                    height: 8rem;
                    width: 8rem;
                    margin-top: -5rem;
                }
            .request-infos{
                border-bottom-style: dotted;
                button{
                    background-color: $purple-primary;
                    color: $clean-secondary;
                }
            }
            .request-total h4{
                color: $purple-primary;
            }
        }
    }

    //footer
    .cart-checkout{
        text-decoration: none;
        color: $clean-primary;
        background-color: $purple-primary;
        width: min($sm,100%);
        &:active{
            transition: 0.2s;
            scale: 97%;
            background-color: #584ca2;
        }
        .me-auto{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .footer-container{
        a{
            text-decoration: none;
            color: $clean-secondary;
        }
        
        background-color: $night-primary;
        width: min($sm,100%);
        height: 4.5rem;
        overflow: hidden;
        .col-3, .col-4, .col-6{
            padding-top: 1.2rem;
            &.active{
                a i{
                    color: $clean-secondary; 
                    scale: 120%!important;     
                }
                .selec{
                    animation: active-nav 0.1s ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
            .col-con{
                transition: 0.3s;
                margin-bottom: 0.75rem;
                a{
                    text-decoration: none;
                    color: $clean-deep;
                    padding-top: 24px;  
                    i{
                        transition: 0.3s;
                    }
                    &:active i{
                        scale:80%;
                        transition: 0.3s;
                    }
                }
            }
            .selec{
                background-color: $purple-primary;
                width: 0;
                height: 0.2rem;
            }
        }
    }

    .addbtn-container{
        text-decoration: none;
        color: $clean-secondary;
        background-color: $night-primary;
        width: min($sm,100%);
        height: 4.5rem;
    }
}




.spinner {
    /* margin: 100px auto 0; */
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 8px;
    height: 8px;
    background-color: #fff;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
